---
import Title from './Title.astro';
import Subtitle from './Subtitle.astro';
import Parragraph from './Parragraph.astro';
import Img from './Img.astro';
import Whatsappbotton from './Whatsappbotton.astro';

interface Props {
  src:string;
  alt:string;
  title:string;
  subtitle:string;
  body:string;
  text:string;
}


const {src,alt,title,subtitle,body,text} = Astro.props;
---

<div class="container mx-auto px-4 md:px-8 py-12">
  <div class="flex flex-col md:flex-row gap-8 md:gap-12 items-center">
    <!-- Imagen placeholder (reemplazar con la imagen final) -->
    <div class=" bg-white flex items-center justify-center">
      <Img src={src} alt={alt} size='11/12' mdsize='full' rounded='xl' shadow='sm' aspect_ratio='auto'></Img>
    </div>

    <div class="w-11/12 md:w-full space-y-6">
      <Title title_text={title} size_text='text-3xl' mdsize_text='md:text-tex-4xl' color_text='text-blue-500'></Title>

      <div class="space-y-4">
        <Subtitle subtitle_text={subtitle} size_text='text-lg' mdsize_text='md:text-xl' color_text='text-gray-800'></Subtitle>

        <div class="space-y-2">
          <Parragraph parragraph_text={body} size_text='text-base' mdsize_text='md:text-lg' color_text='text-gray-500'></Parragraph>
        </div>

      </div>

      <!-- Tamaños -->
      <!-- <div class="grid grid-cols-2 md:grid-cols-4 gap-3">
        <div class="border-2 border-gray-200 rounded-lg p-3 text-center">
          <span class="font-medium">6OZ</span>
        </div>
        <div class="border-2 border-gray-200 rounded-lg p-3 text-center">
          <span class="font-medium">8OZ</span>
        </div>
        <div class="border-2 border-gray-200 rounded-lg p-3 text-center">
          <span class="font-medium">10OZ</span>
        </div>
        <div class="border-2 border-gray-200 rounded-lg p-3 text-center">
          <span class="font-medium">12OZ</span>
        </div>
      </div> -->

      <!-- Botón Comprar Ahora -->
      <Whatsappbotton num_tlf='51979290418' text_tlf={text} text_botton='COMPRAR AHORA' bgcolor='teal-500' hover='hover:bg-yellow-400'  transition='transition-all'></Whatsappbotton>

    </div>
    
  </div>
</div>

<script is:inline>
  document.getElementById('whatsappButton').addEventListener('click', () => {
    const encodedMessage = encodeURIComponent(`{whatsappMessage}`);
    window.open(`https://wa.me/{whatsappNumber}?text=${encodedMessage}`, '_blank');
  });
</script>

<style is:global>
  @media (min-width: 768px) {
    .aspect-square {
      aspect-ratio: 1 / 1;
    }
  }
</style>